/* @import url("style.css"); */

:root {
    --fontSmall: 1.25em;
    --fontBig:1.5em;
    --fontMedium:1em;
    --fontTiny:.8em;
    --bgHoverGray: rgba(128, 128, 128, 0.5);
    --bgHoverBlack:black; 
    --bgHoverWhite:white;
}

@property --currentPrimaryColor1 {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --currentSecondaryColor1 {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

body {
    background-color: var( --currentPrimaryColor1);
    color: var(--currentSecondaryColor1);
 }
 
 .newTheme {
     background-color: var(--currentSecondaryColor1);
     color:var(--currentPrimaryColor1);
 }
 
.contents {
    display: flex;
    gap: 40px;
    transition: all 1s;
    border: 1px solid currentColor;
}
.contents:not(.myImage) { 
    align-items: center;
}

.contents .myImage {
    width: 300px;
    border-radius: 10px;
}

.contents .myImage img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.contents .content-boxes {
  width: 100%;
  margin: 0 20px;

}

.contents .content-boxes .boxes {
    display: flex;
    justify-content: center;
    width: 400px;
    gap: 20px;
    margin-bottom: 1em;
}
.contents .content-boxes .boxes .content-box1 i{
    color: inherit;
}
.contents .content-boxes .boxes .content-box1 {
    width:300px;
    border: 1px  solid currentColor;
    color: inherit;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    font-size: small;
}

.contents .content-boxes .content-box3{
    width: 420px;
}

.contents .content-boxes .content-box3 p{
    display: flex;
    flex-wrap: wrap;
    color: inherit;
    text-align: justify;
}
