:root {
    --fontSmall: 1.25em;
    --fontBig:1.5em;
    --fontMedium:1em;
    --fontTiny:.8em;
    --bgHoverGray: rgba(128, 128, 128, 0.5);
    --bgHoverBlack:black; 
    --bgHoverWhite:white;
}

@property --currentPrimaryColor1 {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --currentSecondaryColor1 {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

.newTheme {
    background-color: var( --currentPrimaryColor1);
    color: var(--currentSecondaryColor1);
 }
 
 body {
     background-color: var(--currentSecondaryColor1);
     color:var(--currentPrimaryColor1);
 }

.contents {
    width: 800px;
    display: flex;
    gap: 40px;
    margin-top: 15px;
}
.contents:not(.myImage) { 
    align-items: center;
}

.contents .myImage {
    width: 300px;
    border-radius: 10px;
}

.contents .myImage img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.contents .content-boxes {
  width: 400px;
  z-index: -1;
}

.contents .content-boxes form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-bottom: 1em;
}

.contents .content-boxes form input, .content-boxes form textarea {
    outline: none;
    padding: 5px;
    border-radius: 4px;
    font-size: small;
    background: transparent;
    color: inherit;
}

::placeholder {
    color: rgb(187, 47, 157);
}

.content-boxes form > button {
    background-color: inherit;
    color: inherit;
    border: 1px solid currentColor;
    padding: 7px 0 ;
    border-radius: 5px;
    transition: all ease 0.6s;
}

.content-boxes form > button:hover {
    background-color: green;
    color: #fff;
}
