:root {
    --fontSmall: 1.25em;
    --fontBig:1.5em;
    --fontMedium:1em;
    --fontTiny:.8em;
    --bgHoverGray: rgba(128, 128, 128, 0.5);
    --bgHoverBlack:black; 
    --bgHoverWhite:white;
}

@property --currentPrimaryColor1 {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --currentSecondaryColor1 {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

body {
    background-color: var( --currentPrimaryColor1);
    color: var(--currentSecondaryColor1);
 }
 
 .newTheme {
     background-color: var(--currentSecondaryColor1);
     color:var(--currentPrimaryColor1);
 }

.experience-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.experience-contents .boxes {
    gap: 20px;
    width: 600px;
}

.experience-contents .boxes .boxesInner {
    display: flex;
    gap: 40px;
    padding-bottom: 10px;

}
.experience-contents .boxes .boxesInner .experience { 
    width: 250px;
    border: 1px solid currentColor;
    color: inherit;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.experience-contents .boxes .boxesInner .experience .experience-box-contain {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 40px;
}
.experience-contents .boxes .boxesInner .experience-box-contain .experience-box{
    position: relative;
    display: flex;
    padding: 5px;
    font-size: small;
}

.experience-contents .boxes .content-box3{
    word-wrap: wrap;
    padding-left: 5px;
    color:inherit;
}
