:root {
    --currentPrimaryColor1:white;
    --currentSecondaryColor1:black;
    --fontSmall: 1.25em;
    --fontBig:1.5em;
    --fontMedium:1em;
    --fontTiny:.8em;
    --bgHoverGray: rgba(128, 128, 128, 0.5);
    --bgHoverBlack:var(--currentSecondaryColor1); 
    --bgHoverWhite:var(--currentPrimaryColor1);
}

.newTheme {
    --currentPrimaryColor1:black;
    --currentSecondaryColor1:white;
}

.experience-page {
   width: 700px;
   margin: auto;
   padding-top: 0;
}
.experience-page .icons-container{
    width: 150px;
    margin: auto;
}

.experience-page .icons-container .icons {
    display: flex;
    /* justify-content: center; */
}

.experience-page .icons-container .icons > i{
    margin-right: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.9s;
    color: var(--currentSecondaryColor1);
}

.experience-page .icons > i:hover{
    background-color: gray;
    color: #fff;
}

.experience-page .topic-about {
    padding: 1em 0;
    text-align: center;
    font-size: small;
    color: var(--currentSecondaryColor1);
}
.experience-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.experience-contents .boxes {
    gap: 20px;
    width: 600px;
}

.experience-contents .boxes .boxesInner {
    display: flex;
    gap: 40px;
    padding-bottom: 10px;

}
.experience-contents .boxes .boxesInner .experience { 
    width: 250px;
    border: 1px solid var(--currentSecondaryColor1);
    color: var(--currentSecondaryColor1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.experience-contents .boxes .boxesInner .experience .experience-box-contain {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 40px;
}
.experience-contents .boxes .boxesInner .experience-box-contain .experience-box{
    position: relative;
    display: flex;
    padding: 5px;
    font-size: small;
}

.experience-contents .boxes .content-box3{
    word-wrap: wrap;
    padding-left: 5px;
    color: var(--currentSecondaryColor1);
}
