.experience-page {
   width: 700px;
   margin: auto;
   padding-top: 0;
}
.experience-page .icons-container{
    width: 150px;
    margin: auto;
}

.experience-page .icons {
    display: flex;
    /* justify-content: center; */
}

.experience-page .icons > i{
    margin-right: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.9s;
}

.experience-page .icons > i:hover{
    background-color: gray;
    color: #fff;
}

.experience-page .topic-about {
    padding: 1em 0;
    text-align: center;
    font-size: small;
}
.experience-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.experience-contents .boxes {
    gap: 20px;
    width: 600px;
}

.experience-contents .boxes .boxesInner {
    display: flex;
    gap: 40px;
    padding-bottom: 10px;

}
.experience-contents .boxes .boxesInner .experience { 
    width: 250px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.experience-contents .boxes .boxesInner .experience .experience-box-contain {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 40px;
}
.experience-contents .boxes .boxesInner .experience-box-contain .experience-box{
    position: relative;
    display: flex;
    padding: 5px;
    font-size: small;
}

.experience-contents .boxes .content-box3{
    word-wrap: wrap;
    padding-left: 5px;
}
