* {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

:root {
    --fontSmall: 1.25em;
    --fontBig:1.5em;
    --fontMedium:1em;
    --fontTiny:.8em;
    --bgHoverGray: rgba(128, 128, 128, 0.5);
    --bgHoverBlack:black; 
    --bgHoverWhite:white;
}

@property --currentPrimaryColor1 {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --currentSecondaryColor1 {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

body {
   background-color: var( --currentPrimaryColor1);
   color: var(--currentSecondaryColor1);
}

.newTheme {
    background-color: var(--currentSecondaryColor1);
    color:var(--currentPrimaryColor1);
}

header {
    width: 100%;
    margin-bottom: 0;
    position: fixed;
    z-index: 11;
    background-color: inherit;
}

main{
    padding-top: 7em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    /* scale: 0; */
    /* position: relative; */
}

main .topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 35em;
}

.icons-container .icons{
    width: 200px;
    background-color: rgba(208, 210, 212, 0.2);
    border-radius: 20px;
    z-index: 111;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}

.icons-container .icons > i{
    color:inherit;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    transition: all 0.9s;
}

.icons-container .icons > i:hover{
    background-color: gray;
    color: inherit;
}

.image2 {
    position: fixed;
    bottom:10px;
    right: 20px;
    clip-path: circle();
    width: 60px;
    height: 60px;
    border: 1px solid currentColor;
    object-fit: cover;
    transition: all 1s;
    z-index: 1111;
}

.switchImage {
    right: -20%;
}

.image2 img {
    width: 100%;
}

nav {
    display: inline-block;
    height: 80px;
    width: 100%;
}

nav {
    position: relative;
}

nav .theme {
    position: absolute;
    top: 25px;
    right:75px;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.6s;
}

nav .theme img {
    width: 100%;
}

nav .theme:hover img {
    background-color:var(--bgHoverBlack);
    color: inherit;

}

nav ul > .fa-ellipsis-vertical, .fa-gear {
    visibility: hidden;
}

label.logo > a {
    width: 35px;
    line-height: 80px;
    margin: 0 50px;
    padding: 10px;
    font-size: var(--fontSmall);
    font-weight: 300;
    text-decoration: none;
    color:inherit;
}
label.logo > a .changeMe > i {
    padding: 8px;
}
.logo > a:hover .changeMe {
     visibility: hidden;
     transition: all 0.6s;
}

.logo > a .myName {
    position: absolute;
    background-color:inherit;
    left: -100%;
    top: -1px;
    transition: all 0.6s;
}

.logo > a:hover .myName{
    left: 60px;
}

nav ul{
    float: right;
    margin-right: 20px;
    line-height: 80px;
}

nav ul  li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
}

nav ul > #image3 {
    position: absolute;
    bottom:0;
    right: 60px;
    clip-path: circle();
    width: 60px;
    border: 1px solid currentColor;
    display: none;
}

nav ul  li > a {
    border-radius: 20px;
    padding: 10px 40px;
    text-decoration: none;
    font-size: var(--fontTiny);
    font-weight: bold;
    transition: all 0.8s ease;
    color: inherit;
}

nav ul  li > a:hover {
    background-color:initial;
    color: inherit;
}

nav ul > i {
    margin: 0 20px;
    cursor: pointer;
    padding: 5px;
    color: inherit;
}

/* RESPONSIVE BUTTON FOR MENU */
.checkBtn {
    font-size: var(--fontBig);
    float: right;
    margin-right: 40px;
    line-height: 80px;
    color: inherit;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.my-container {
    margin:auto;
    padding: 50px;
}

.intro {
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.intro .text-intro {
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    color: inherit;
}

.intro .text-intro .btn > button {
    padding: 8px;
    font-weight: bold;
    font-size: 0.7em;
    margin-right: 10px;
    border: 1px solid rgb(75, 63, 63);
    background-color: rgb(92, 86, 86);
    color: inherit;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s;
}

.intro .text-intro .btn > button > a {
    color: white;
    text-decoration: none;
}
.intro .text-intro .btn > button:hover {
    background-color: inherit;
    color: inherit;
}
.intro .image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    clip-path: circle();
    transition: all 1s;
}

.intro .image img {
    width: 100%;
}


@media (max-width:992px) {
    label.logo > a{
        font-size: 20px;
        margin: 0 10px;
    }

    header {
        width: 100%;
    }   
    
    .logo > a:hover .changeMe {
        visibility: hidden;
        transition: all 0.6s;
   }
   
   .logo > a .myName {
       position: absolute;
       background-color: inherit;
       left: -100%;
       top: -1px;
       transition: all 0.6s;
   }
   
   .logo > a:hover .myName{
       left: 60px;
   }

    nav ul li  {
        margin: 0;
    }

    nav ul li > a  {
        font-size:var(--fontTiny);
        color: inherit;
        border-top: 1px solid inherit;
        border-radius: 0;
        margin: 0;
        padding: 29px  100% 29px 40px;
    }

    main {
        height: 110vh;
        padding-top: 0;
    }
    .icons-container {
        top: 30em;
    }
    
    .experience-contents  {
          margin-top: -5px;
          margin-bottom: 0;
    }
    .project-contents .project-boxes {
        width: 180px;
        padding: 10px;
        border-radius: 15px;
    }
    
    .project-contents .project-boxes .project-boxesInner .project .btn { 
        padding: 4px;
        width: 80px;
        font-size: 0.7em;
    }

        /* CONTACT PAGE */
        /* .contents {
            width: 80%;
            margin: auto;
            justify-content: center;
         } */
     
         .contents .myImage {
             width: 300px;
         }
     
}

@media (max-width:858px) {
    .checkBtn{
        display: block;
    }

    nav ul {
        position: fixed;
        background-color: inherit;
        width: calc(100% - 280px);
        height: 100vh;
        top:80px;
        left: -100%;
        text-align: left;
        transition: all 0.6s;
        z-index: 111;
        overflow: hidden;
        padding: 0;
    }

    nav ul li {
        display: block;
        left: 0;
        padding: 0;
    }

    nav ul li > a  {
        font-size: var(--fontSmall);
        color: inherit;
        border-bottom: 1px solid inherit;
        border-radius: none;
    }

    /* nav ul li > a:hover  {
        font-size: var(--fontSmall);
        color: inherit;
        letter-spacing: 4px;
    } */

    #check:checked ~ ul {
        left: 0;
    }

    nav ul > #image3 {
        position: absolute;
        background-color: inherit;
        bottom: 85px;
        right: 10px;
        clip-path: circle();
        width: 50px;
        border: 1px solid currentColor;
        display: block;
        object-fit: cover;
        height: 50px;
    }
    
    nav ul > #image3 img {
        width: 100%;
    }
}


@media (max-width:786px) {

    .checkBtn{
        display: block;
        margin-right: 20px;
    }

    nav .theme {
        right: 50px;
    }

       header {
        margin-bottom: 3em;
    }
    label.logo > a{
        font-size: var(--fontMedium);
        margin:0 5px;
    }

    main {
        width: 100%;
    }

    
    .my-container {
        padding:0 ;
        padding-top: 40px;
    }

    nav ul {
        position: fixed;
        background-color: inherit;
        width: calc(100% - 180px);
        height: 100vh;
        top:80px;
        left: -100%;
        text-align: left;
        transition: all 0.6s;
        z-index: 111;
        overflow: hidden;
        padding: 0;
    }

    nav ul li {
        display: block;
        left: 0;
        padding: 0;
    }

    nav ul li > a  {
        font-size: var(--fontSmall);
        color: inherit;
        border-bottom: 1px solid var(--currentPrimaryColor1);
        border-radius: none;
    }

    nav ul li > a:hover  {
        font-size: var(--fontSmall);
        color: inherit;
        letter-spacing: 4px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    main {
        width: 100%;
    }

    .experience-contents .boxes .boxesInner {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .contents {
        padding-top: 10px;
        width: 100%;
    }

    .contents .content-boxes {
        width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 0;
    }

    .contents .myImage {
        display: none;
    }
}


@media (max-width:425px) {
    .intro .image {
        width: 150px;
        height: 150px;
    }

    label.logo > a{
        font-size: var(--fontSmall);
        margin-left: 5px;
    }
   
   .logo > a:hover .myName{
       left: 20px;
   }

    nav ul {
        position: fixed;
        background-color: inherit;
        width: calc(100% - 80px);
        height: 100vh;
        top:80px;
        left: -100%;
        text-align: left;
        transition: all 0.6s;
        z-index: 111;
        overflow: hidden;
        padding: 0;
    }

    nav ul li {
        display: block;
        left: 0;
        padding: 0;
    }

    nav ul li > a  {
        font-size: 20px;
        color: inherit;
        border-bottom: 1px solid var(--currentPrimaryColor1);
        border-radius: none;
    }

    nav ul li > a:hover  {
        font-size: 20px;
        color: inherit;
        letter-spacing: 4px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    /* CONTACT */
    .contents {
        margin-top: 15px;
        /* width: 500px; */
        display: flex;
        justify-content: center;
    }

    /* ABOUT PAGE */
    .contents .content-boxes .content-box3 p {
        margin: 0 20px;
    }
    .contents .content-boxes .boxes {
        display: flex;
        flex-wrap: wrap;
    } 
}


@media (max-width:350px) {
    nav ul {
        position: fixed;
        background-color: black;
        width: calc(100% - 80px);
        height: 100vh;
        top:80px;
        left: -100%;
        text-align: left;
        transition: all 0.6s;
        z-index: 111;
        overflow: hidden;
        padding: 0;
    }

    nav ul li {
        display: block;
        left: 0;
        padding: 0;
    }

    nav ul li > a  {
        font-size: 20px;
        color: inherit;
        border-bottom: 1px solid var(--currentPrimaryColor1);
        border-radius: none;
    }

    nav ul li > a:hover  {
        font-size: 20px;
        color: inherit;
        letter-spacing: 4px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .image2 {
        width: 45px;
        height: 45px;
    }

     /* ABOUT PAGE */
     .contents .content-boxes {
        width: 100%;
    }

    /* .contents .content-boxes .content-box3 {
        width: ;
    } */
}

@media (max-width:270px) {
    nav ul {
        position: fixed;
        background-color: black;
        width: calc(100% - 80px);
        height: 100vh;
        top:80px;
        left: -100%;
        text-align: left;
        transition: all 0.6s;
        z-index: 111;
        overflow: hidden;
        padding: 0;
    }

    nav ul li {
        display: block;
        left: 0;
        padding: 0;
    }

    nav ul li > a  {
        font-size: 20px;
        color: inherit;
        border-bottom: 1px solid var(--currentPrimaryColor1);
        border-radius: none;
    }

    nav ul li > a:hover  {
        font-size: 20px;
        color: inherit;
        letter-spacing: 4px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .image2 {
        width: 25px;
        height: 25px;
        right: 5px;
        bottom: 2px;
    }

    .text-intro .btn {
        width: 250px;
        display: flex;
        justify-content: center;
    }
    .intro .text-intro .btn > button {
        font-size:xx-small;
        width: 80px;
        padding: 5px;
        margin-right: 5px;
    }
}
